<form  action="/admin_search_product" method="post" name="form1" id="form1">
<div class="title-content text-center">
          
          <h3 align="center" class="title-w3l mb-sm-3 text-center">Search Product</h3>
  </div>
  <table height="127" align="center">
    <tr>
      <td>Product Name</td>
      <td><input name="name" type="text" id="name"   required="" /></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="tp">
        <input type="submit" name="btn" value="Search" />
      </span></td>
    </tr>
  </table>
</form>
 