<li class="nav-item active">
								<a class="nav-link" href="/manager_home">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/manager_add_employee">Add Employee</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/manager_search_product">Search Product</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/manager_total_sales">Total Sales</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/manager_customer_behaviouor">Customer Behaviour</a>
							</li>

						
							<li class="nav-item">
								<a class="nav-link" href="/">Logout</a>
							</li>