<form  action="/user_send" method="post" enctype="multipart/form-data" name="form1" id="form1">
<div class="title-content text-center">
          
          <h3 align="center" class="title-w3l mb-sm-3 text-center">Send Message</h3>
  </div>
  <table height="127" align="center">
    <tr>
      <td>Receiver Email </td>
      <td><div align="left">
        <input name="receiver" type="text" id="receiver"   required="" />
      </div></td>
    </tr>
    <tr>
      <td><div align="left">Date Name </div></td>
      <td><div align="left">
        <input name="data_name" type="text" id="data_name"   required="" />
      </div></td>
    </tr>
    <tr>
      <td><div align="left">Message</div></td>
      <td><div align="left">
        <input name="message" type="text" id="message"   required="" />
      </div></td>
    </tr>
    <tr>
      <td><div align="left">Data</div></td>
      <td> 
        <div align="left">
          <input type="file" name="file"  required=""/>     
        </div></td>
    </tr>
    <tr>
      <td><div align="left"></div></td>
      <td><div align="left"><span class="tp">
        <input type="submit" name="btn" value="Send" />
      </span></div></td>
    </tr>
  </table>
</form>
 